<footer class="text-center">
  <div class="div d-flex justify-content-center">
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-github"></i>
    <i class="fa-brands fa-facebook"></i>
  </div>
  <p class="text-center">Copyright Hack Academy 2022</p>
</footer>
