<div class="container">
  <footer>
    <div class="row d-flex flex-row">
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-github"></i>
      <i class="fa-brands fa-facebook"></i>
      <p class="d-block">Copyright Hack Academy 2022</p>
    </div>
  </footer>
</div>
