<nav class="navbar bg-dark">
  <div class="container">
    <a class="navbar-brand text-light bg-dark" href="/">Hack the Blog</a>
    <a class="btn btn-primary" href="/panel" role="button">Admin</a>
  </div>
</nav>
