<nav class="navbar bg-dark">
  <div class="container">
    <a class="navbar-brand text-light bg-dark">Hack the Blog</a>
    <a class="btn btn-primary" href="#" role="button">Admin</a>
  </div>
</nav>
