<nav class="navbar bg-dark">
  <div class="container">
    <a class="navbar-brand text-light bg-dark" href="/">Hack the Blog</a>
    <div>
      <a class="btn btn-primary" href="/panel" role="button">Admin</a>
      <a class="btn btn-secondary " href="usuarios/login" role="button">Login</a>
    </div>
    
  </div>
</nav>
